.left-side{position: absolute;border-right: 1px solid #333;width: 200px;height: 100%;overflow: auto;}
.left-side > div{height: 50px;line-height: 50px;border-bottom: 1px solid #999;padding-left: 10px;}
.left-side > div:hover{cursor: pointer;}
.left-side > div:hover, .left-side > div.visible{font-weight:bold;background: #51c3c0;color: #fff;}
.left-side > div:hover{border-color:#000;}
.right-side{position: absolute;left: 201px;right: 0px;height: 100%;overflow: hidden;}
.right-side-top{padding: 0px 10px;height: 50%;overflow: auto;border-bottom: 1px solid #333;}
.right-side-bottom{top:50%;padding: 0px 10px;height: 50%;overflow: auto;background: #fff;}
.right-side-top > div, .right-side-bottom > div{display: none;}
.right-side-top > div.visible,.right-side-bottom > div.visible{display: block;}
.right-side-bottom-item-author, .right-side-bottom-item-date, .right-side-bottom-item-description, .right-side-bottom-item-code, .right-side-bottom-item-content{font-weight: bold;}
.right-side-bottom-item-author{font-size: 1.2em;}
.right-side-bottom-item-code > div, .right-side-bottom-item-content > div{font-weight: normal;background:#efefef;}
