.crumbs {
    height: 56px;
    line-height: 56px;

    .crumbs-item {
        color: #999999;
    }

    .crumbs-item--link {
        color: #333;
    }

    .crumbs-item--link:hover {
        color: #29aeaa;
    }

    i {
        padding: 0 5px;
    }
}