.tab-list {
}
.tab-item {
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #888;
    border: 1px solid #e7e7e7;
    background: #fafafa;
    cursor: pointer;
}
.tab-item--selected {
    height: 40px;
    border-bottom: 0;
    line-height: 39px;
    background: #fff;
    border-top: 2px solid #51c3c0;
    cursor: default;
    color: #333;
}
.tab-content {
    margin-top: -1px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
}