/*
* file: tips.scss
* date: 2016-05-17
*/
.tips {
  position: absolute;
  top: 25px;
  left: -10px;
  width: 130px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px #999;
  -moz-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
  padding: 5px 10px 5px 10px;
  background: #fef9d9;
  font-size: 12px;
  z-index: 10;
}

.tips strong {
  margin-right: 5px;
  line-height: 17px;
  font-weight: normal;
  color: #999;
}

.tips a {
  display: inline-block;
  color: #29aeaa;
}

.tips em {
  position: relative;
  display: block;
}

.tips em .triangle,
.tips em .close {
  position: absolute;
  display: block;
  background-image: url(/static/common/module/tips/icon-tips.png);
  background-repeat: no-repeat;
}

.tips em .triangle {
  top: -11px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-position: 0 0;
}

.tips em .close {
  top: -4px;
  right: -7px;
  width: 10px;
  height: 10px;
  background-position: 0 -10px;
}
