@charset "UTF-8";
body {
  font: 14px/1.5 microsoft yahei;
  padding: 0;
  margin: 0;
  color: #666;
  background-color: #efefef;
}

html, button, select, textarea, input {
  font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}

html, div, p, h1, h2, h3, h4, h5, h6, blockquote,
ol, ul, li, dl, dt, dd,
form, fieldset, legend, button, input, textarea,
pre, code, th, td {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  color: #666;
  font-family: "微软雅黑";
}

button, input, select, textarea {
  font-size: 100%;
}

input, img, select {
  vertical-align: middle;
}

input {
  border: none;
  border-width: 0;
}

iframe {
  display: block;
}

.border_btn {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol, li, submit {
  list-style: none;
  border: none;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

code, kbd, pre, samp {
  font-family: "microsoft yahei";
}

em, i {
  font-weight: normal;
  font-style: normal;
}

legend {
  color: #000000;
}

fieldset, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

:focus {
  outline: 0;
}

button {
  border: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

a {
  outline: none;
  color: #51c3c0;
  text-decoration: none;
}

a.link {
  color: #29aeaa;
}

a:hover {
  text-decoration: none;
  color: #29aeaa;
}

/*===== clearfix =====*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*
导航栏使用的按钮
padding固定，宽度随内容长度变化而变化
*/
.tbtn {
  display: inline-block;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.tbtn-white {
  /*背景为白色，边框为绿色*/
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0px 15px;
  border-color: #29aeaa;
  color: #29aeaa;
  background: #fff;
}

.tbtn-white:hover {
  border-color: #0c7f7c;
  color: #0c7f7c;
}

.tbtn-orange {
  /*背景为橘色，边框为橘色*/
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0px 15px;
  border-color: #ff7930;
  color: #fff;
  background: #ff7930;
}

.tbtn-orange:hover {
  border-color: #fa6e21;
  background: #fa6e21;
  color: #fff;
}

/*背景为绿色，边框为绿色*/
.tbtn-big-green {
  padding: 0px 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.tbtn-big-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.tbtn-big-gray {
  padding: 0px 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.tbtn-big-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.tbtn-big-disabled {
  padding: 0px 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.tbtn-big-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为绿色，边框为绿色*/
.tbtn-mid-green {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.tbtn-mid-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.tbtn-mid-gray {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.tbtn-mid-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.tbtn-mid-disabled {
  padding: 0px 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.tbtn-mid-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为绿色，边框为绿色*/
.tbtn-small-green {
  padding: 0px 20px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.tbtn-small-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.tbtn-small-gray {
  padding: 0px 20px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.tbtn-small-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.tbtn-small-disabled {
  padding: 0px 20px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.tbtn-small-disabled:hover {
  background: #dadada;
  color: #999;
}

/*
固定宽度的按钮
按大中小分为big,mid,small三种
*/
.wbtn {
  display: inline-block;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
}

/*背景为绿色，边框为绿色*/
.wbtn-xbig-green {
  width: 324px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.wbtn-xbig-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.wbtn-xbig-gray {
  width: 324px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.wbtn-xbig-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.wbtn-xbig-disabled {
  width: 324px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.wbtn-xbig-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为透明，边框为透明*/
.wbtn-xbig-transparent {
  width: 324px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-color: transparent;
  background: transparent;
  color: #ff7930;
}

.wbtn-xbig-transparent:hover {
  color: #ff7930;
}

/*背景为绿色，边框为绿色*/
.wbtn-big-green {
  width: 218px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.wbtn-big-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.wbtn-big-gray {
  width: 218px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.wbtn-big-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.wbtn-big-disabled {
  width: 218px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.wbtn-big-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为透明，边框为透明*/
.wbtn-big-transparent {
  width: 218px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  border-color: transparent;
  background: transparent;
  color: #ff7930;
}

.wbtn-big-transparent:hover {
  color: #ff7930;
}

/*背景为绿色，边框为绿色*/
.wbtn-mid-green {
  width: 112px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.wbtn-mid-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.wbtn-mid-gray {
  width: 112px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.wbtn-mid-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.wbtn-mid-disabled {
  width: 112px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.wbtn-mid-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为透明，边框为透明*/
.wbtn-mid-transparent {
  width: 112px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-color: transparent;
  background: transparent;
  color: #ff7930;
}

.wbtn-mid-transparent:hover {
  color: #ff7930;
}

/*背景为绿色，边框为绿色*/
.wbtn-small-green {
  width: 88px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #51c3c0;
  background: #51c3c0;
  color: #fff;
}

.wbtn-small-green:hover {
  border-color: #29aeaa;
  background: #29aeaa;
  color: #fff;
}

/*背景为灰白色，边框为灰色*/
.wbtn-small-gray {
  width: 88px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #d2d2d2;
  background: #f7f7f7;
  color: #454545;
}

.wbtn-small-gray:hover {
  background: #f3f3f3;
  color: #454545;
}

/*背景为灰白色，边框为灰色*/
.wbtn-small-disabled {
  width: 88px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: #dadada;
  background: #dadada;
  color: #999;
  cursor: default;
}

.wbtn-small-disabled:hover {
  background: #dadada;
  color: #999;
}

/*背景为透明，边框为透明*/
.wbtn-small-transparent {
  width: 88px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  border-color: transparent;
  background: transparent;
  color: #ff7930;
}

.wbtn-small-transparent:hover {
  color: #ff7930;
}

.ico-err-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  background-position: 0 -96px;
  display: inline-block;
}

.ico-help-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  background-position: 0 0;
  display: inline-block;
}

.ico-info-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  background-position: 0 -144px;
  display: inline-block;
}

.ico-warn-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  background-position: 0 -144px;
  display: inline-block;
}

.ico-succ-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  background-position: 0 -48px;
  display: inline-block;
}

.ico-minus-normal {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 40px;
  height: 41px;
  display: inline-block;
}

.ico-err-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -42px -34px;
  display: inline-block;
}

.ico-help-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -42px -2px;
  display: inline-block;
}

.ico-info-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -42px -50px;
  background-position: -42px -50px;
  display: inline-block;
}

.ico-warn-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.ico-succ-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -42px -18px;
  display: inline-block;
}

.ico-minus-small {
  vertical-align: top;
  background: url("/img/icon-tips.png") no-repeat;
  width: 12px;
  height: 12px;
  background-position: -42px -66px;
  display: inline-block;
}

body {
  min-width: 1330px;
}

.page {
  background: #efefef;
  border-bottom: 1px solid #e9e9e9;
}

.page-content, .w1200 {
  margin: 0 auto;
  width: 1200px;
}

.no-data {
  padding-top: 80px;
  text-align: center;
  margin: 0px auto;
}

.no-data img {
  vertical-align: bottom;
}

.no-data i {
  vertical-align: bottom;
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}
